[submodule "database"]
	path = database
	url = https://github.com/abhiravilla/database
[submodule "location"]
	path = location
	url = https://github.com/abhiravilla/location
[submodule "tracker"]
	path = tracker
	url = https://github.com/abhiravilla/tracker
